<%- include("./_head.ejs") %>
    <header class="flex">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>

        <!-- <img src="images/geegstack-standalone.png" alt="Geegstack Logo" id="logo"> -->
        <h3 class="title">Geegstack Store</h3>

        <!-- <img src="../images/search-icon.svg" alt="Search" id="search-icon"> -->
        <% if (admin && admin.length > 0) { %>
        <!-- <div>
            <a href="/products/new">
                <button class="price">Add Product</button>
            </a>

            <form 
            action="/admin/logout" 
            method="post" 
            onsubmit="return confirm('Are you sure you want to logout?')"
            >
                <button type="submit">Logout</button>
            </form>
        </div> -->

        <a href="/admin/profile">
            <button class="price">Profile</button>
        </a>

        <% } else { %>
        <a href="/admin/login">
            <button class="price">Login</button>
        </a>
        <% } %>
        
    </header>